*.html_backup/
bazel-out/
.DS_Store
Gemfile.lock
target/
build/
.gradle/
buildSrc/
dist/
*.class
targe/
*.o
*.lst
.vscode/
*.pyc
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
